<h1>Capitals Game</h1>
<p>What is the capital of <%= @state %>?</p>
<p>
  <a href='/make_answer?city=Olympia&state=<%= @state %>'>Olympia</a>
</p>
<p>
  <a href='/make_answer?city=Sacramento&state=<%= @state %>'>Sacramento</a>
</p>
<p>
  <a href='/make_answer?city=Salem&state=<%= @state %>'>Salem</a>
</p>