<!DOCTYPE>
<html>
<head>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
</head>
<body>
  <div class='container'>
    <div class='jumbotron'>
      <h1>Capitals Game</h1>
      <p>What is the capital of California?</p>
      <p>
        <a class='btn btn-primary' href='/make_answer?city=Olympia'>Olympia</a>
      </p>
      <p>
        <a class='btn btn-primary' href='/make_answer?city=Sacramento'>Sacramento</a>
      </p>
    </div>
  </div>
</body>
</html>